%div
  %strong Zone
%div= link_to "Ajouter un widget", "#"
%hr/
%div
  %strong Widget
%div= link_to "Ajouter un widget avant", "#"
%div= link_to "Ajouter un widget après", "#"
%div= link_to "Supprimer", "#"

%hr/
%div
  %strong Gestion
%div= link_to "Design", "#"
%div= link_to "Mon Compte", "#"

    