<div id="background">
  
  
</div>
<div id="page">
  <h1>Bridgeo V2</h1>
  <p>Bridgeo is a new CMS running on top of Ruby on Rails, mongoDB &amp; Redis</p>
  
  <div id="f1">
    <%= form_tag "/home/login", id: "signin" do  %>
      <%= label_tag "login" %>
      <%= text_field_tag "login", "", :placeholder => "John Doe." %>
      <%= label_tag "password" %>
      <%= password_field_tag "login", "", :placeholder => "My Secret Password" %>
      <div class='ar'><%= submit_tag "Sign In", class: "button" %></div>
    <%- end -%>
    <hr />
    <div class='ar'><%= button_tag "Sign Up", class: "button signup" %></div>
    <div class='ar'><%= button_tag "Lost Password?", class: "button lost_password" %></div>
  </div>
  <div id="f2">  
    <%= form_tag "/home/signup", id: "signup" do  %>
      <%= label_tag "name" %>
      <%= text_field_tag "name", "", :placeholder => "John Doe." %>
      <%= label_tag "email" %>
      <%= text_field_tag "email", "", :placeholder => "john.doe@mail.com" %>
      <%= label_tag "login" %>
      <%= text_field_tag "login", "", :placeholder => "John Doe." %>
      <%= label_tag "password" %>
      <%= password_field_tag "password", "", :placeholder => "My Secret Password" %>
      <%= label_tag "password confirmation" %>
      <%= password_field_tag "password_confirmation", "", :placeholder => "Again, My Secret Password" %>
      <div class='ar'><%= submit_tag "Sign Up", class: "button" %></div>
    <%- end -%>
    <hr />
    <div class='ar'><%= button_tag "Sign In", class: "button signin" %></div>
    <div class='ar'><%= button_tag "Lost Password?", class: "button lost_password" %></div>
  </div>
  <div id="f3"> 
    <%= form_tag "/home/request_password" do  %>
      <%= label_tag "email" %>
      <%= text_field_tag "email", "", :placeholder => "john.doe@mail.com" %>
      <div class='ar'><%= submit_tag "Send", class: "button" %></div>
    <%- end -%>
    <hr />
    <div class='ar'><%= button_tag "Sign In", class: "button signin" %></div>
    <div class='ar'><%= button_tag "Sign Up", class: "button signup" %></div>
  </div>
  <hr />
  
</div>
<%= javascript_tag do %>
  $("#f2").hide();
  $("#f3").hide();
  $(".signup").click(function() {
    $("#f3").hide();$("#f1").hide();
    $("#f2").fadeIn();
  });
  $(".signin").click(function() {
    $("#f3").hide();$("#f2").hide();  
    $("#f1").fadeIn();
  });
  $(".lost_password").click(function() {
    $("#f1").hide();$("#f2").hide();  
    $("#f3").fadeIn();
  });
  
<% end %>