<!DOCTYPE html>
<html>
<head>
  <title>Bridgeo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--<link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%- if Rails.env == "development" %>
  <%= request.env["HTTP_HOST"] %>
<%- end -%>
</body>
</html>
